table {
    width: 1200px;
}

.add-employee {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: #252525;
    border-radius: 50%;
    border: none;
    color: #dfdfdf;

}